.App {
  text-align: center;
  background-color: rgb(30, 30, 30);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(204,204,204);
  font-family: Menlo, Monaco, 'Courier New', monospace;
}

.Sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 5vw;
  height: 97vh;
  background-color: rgb(51, 51, 51);  
  font-size: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Icon {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

header {
  background-color: rgb(37, 37, 38);
  height: 5vh;
  width: 95vw;
  position: absolute;
  top: 0;
  display: flex;
  left: 5vw;
}

.Tab {
  background-color: rgb(45, 45, 45);
  min-width: 8vw;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.5vw;
  padding-right: 1vw;
  user-select: none;
  border-right: 1.5px solid rgb(37, 37, 38);
}

.Active {
  background-color: rgb(30, 30, 30);
}

.tab-icon {
  width: 3vh;
  margin-right: 0.5vw;
}

.Title h1 {
  display: inline;
}

.cursor {
  animation: 1.25s blink step-end infinite;
}

@keyframes blink {
  from, to { color: transparent; }
  50% {
    color: white;
  }
}

footer {
  background-color: rgb(0, 122, 204);
  width: 100vw;
  height: 3vh;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

footer p {
  font-size: 12px;
  margin-left: 1vw;
  font-weight: bold;
}

#right_panel {
  position: absolute;
  width: 96px;
  padding-left: 4px;
  height: 100%;
  right: 0;
  border-left: 0.5px solid rgb(45, 45, 45);
  display: flex;
  align-items: center;
  justify-content: center;
}

#right_panel::after {
  content: '';
  background-color: rgb(51, 51, 51);
  position: absolute;
  left: 0;
  width: 4px;
  height: 100%;
  cursor: ew-resize;
}

#bottom_panel {
  position: absolute;
  background-color: rgb(30, 30, 30);
  height: 96px;
  padding-top: 4px;
  width: 95vw;
  left: 5vw;
  bottom: 0;
  border-top: 0.5 solid rgb(45, 45, 45);
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottom_panel::after {
  content: '';
  background-color: rgb(51, 51, 51);
  position: absolute;
  top: 0;
  height: 4px;
  width: 100%;
  cursor: ns-resize;
}