.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: white;
}

.projectIcon {
  float: left;
  margin-right: 1rem;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid darkgray;
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem;
  max-width: fit-content;
}

.skill:hover {
  border: 1px solid white;
}

.skill p {
  margin: 0;
}